[Unit]
Description=LabsOS first boot provisioning
After=local-fs.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/labsos/labsos-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
